In [27]:
import pandas as pd
dataset=pd.read_csv("placement_reorder.csv")
dataset

     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p  ...    hsc_b     hsc_s   degree_t workex specialisation      status
0        1  67.00  91.00     58.00     55.0  58.80  ...   Others  Commerce   Sci&Tech     No         Mkt&HR      Placed
1        2  79.33  78.33     77.48     86.5  66.28  ...   Others   Science   Sci&Tech    Yes        Mkt&Fin      Placed
2        3  65.00  68.00     64.00     75.0  57.80  ...  Central      Arts  Comm&Mgmt     No        Mkt&Fin      Placed
3        4  56.00  52.00     52.00     66.0  59.43  ...  Central   Science   Sci&Tech     No         Mkt&HR  Not Placed
4        5  85.80  73.60     73.30     96.8  55.50  ...  Central  Commerce  Comm&Mgmt     No        Mkt&Fin      Placed
..     ...    ...    ...       ...      ...    ...  ...      ...       ...        ...    ...            ...         ...
210    211  80.60  82.00     77.60     91.0  74.49  ...   Others  Commerce  Comm&Mgmt     No        Mkt&Fin      Placed
211    212  58.00  60.00     72.00     74.0  53.62  ...   Others   Science   Sci&Tech     No        Mkt&Fin      Placed
212    213  67.00  67.00     73.00     59.0  69.72  ...   Others  Commerce  Comm&Mgmt    Yes        Mkt&Fin      Placed
213    214  74.00  66.00     58.00     70.0  60.23  ...   Others  Commerce  Comm&Mgmt     No         Mkt&HR      Placed
214    215  62.00  58.00     53.00     89.0  60.22  ...   Others   Science  Comm&Mgmt     No         Mkt&HR  Not Placed

[215 rows x 15 columns]

In [2]:
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [28]:
quan= dataset.select_dtypes(include=["number"]).columns.tolist()
qual= dataset.select_dtypes(include=["object", "category", "bool"]).columns.tolist()
print(quan)
print(qual)

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [29]:
def quanqual(dataset):
    quan = dataset.select_dtypes(include=["number"]).columns.tolist()
    qual = dataset.select_dtypes(include=["object", "category", "bool"]).columns.tolist()
    return quan, qual
    
quan,qual =quanqual(dataset)
print("Quantitative:", quan)
print("Qualitative:", qual)

Quantitative: ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
Qualitative: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

Central Tendency

In [40]:
float(round(dataset['ssc_p'].mean(),2))

67.3

In [41]:
float(round(dataset['ssc_p'].median(),2))

67.0

In [44]:
float(dataset['ssc_p'].mode()[0])

62.0

In [65]:
dataset.describe()

            sl_no       ssc_p       hsc_p    degree_p     etest_p       mba_p         salary
count  215.000000  215.000000  215.000000  215.000000  215.000000  215.000000     148.000000
mean   108.000000   67.303395   66.333163   66.370186   72.100558   62.278186  288655.405405
std     62.209324   10.827205   10.897509    7.358743   13.275956    5.833385   93457.452420
min      1.000000   40.890000   37.000000   50.000000   50.000000   51.210000  200000.000000
25%     54.500000   60.600000   60.900000   61.000000   60.000000   57.945000  240000.000000
50%    108.000000   67.000000   65.000000   66.000000   71.000000   62.000000  265000.000000
75%    161.500000   75.700000   73.000000   72.000000   83.500000   66.255000  300000.000000
max    215.000000   89.400000   97.700000   91.000000   98.000000   77.890000  940000.000000

In [90]:
univariate=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan)
for column in quan:
    univariate[column]["Mean"]=round(dataset[column].mean(),2)
    univariate[column]["Median"]=round(dataset[column].median(),2)
    univariate[column]["Mode"]=round(dataset[column].mode()[0])
univariate

C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mean"]=round(dataset[column].mean(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Median"]=round(dataset[column].median(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mode"]=round(dataset[column].mode()[0])
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mean"]=round(dataset[column].mean(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Median"]=round(dataset[column].median(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mode"]=round(dataset[column].mode()[0])
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mean"]=round(dataset[column].mean(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Median"]=round(dataset[column].median(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mode"]=round(dataset[column].mode()[0])
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mean"]=round(dataset[column].mean(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Median"]=round(dataset[column].median(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mode"]=round(dataset[column].mode()[0])
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mean"]=round(dataset[column].mean(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Median"]=round(dataset[column].median(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mode"]=round(dataset[column].mode()[0])
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mean"]=round(dataset[column].mean(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Median"]=round(dataset[column].median(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mode"]=round(dataset[column].mode()[0])
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mean"]=round(dataset[column].mean(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Median"]=round(dataset[column].median(),2)
C:\Users\Nishok\AppData\Local\Temp\ipykernel_26384\2657872567.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  univariate[column]["Mode"]=round(dataset[column].mode()[0])

        sl_no ssc_p  hsc_p degree_p etest_p  mba_p     salary
Mean    108.0  67.3  66.33    66.37    72.1  62.28  288655.41
Median  108.0  67.0   65.0     66.0    71.0   62.0   265000.0
Mode        1    62     63       65      60     57     300000

In [64]:
def quanqual(dataset):
    quan = dataset.select_dtypes(include=["number"]).columns.tolist()
    qual = dataset.select_dtypes(include=["object", "category", "bool"]).columns.tolist()
    stats_list={}
    for column in quan:
        stats_list[column]={
         
            "Mean": round(dataset[column].mean(), 2),
            "Median": round(dataset[column].median(), 2),
            "Mode": dataset[column].mode().iloc[0] if not dataset[column].mode().empty else None
        }
        stats_table = pd.DataFrame(stats_list).T.reset_index()
        stats_table.rename(columns={"index": "Numerical Column Name"}, inplace=True)
    return quan, qual, stats_table
quan,qual,stats_table =  quanqual(dataset)
#stats_table.to_csv("numerical_summary_1.csv", index=False)
print("\nStatistics for Quantitative Columns:")
print(stats_table)

Statistics for Quantitative Columns:
  Numerical Column Name       Mean    Median      Mode
0                 sl_no     108.00     108.0       1.0
1                 ssc_p      67.30      67.0      62.0
2                 hsc_p      66.33      65.0      63.0
3              degree_p      66.37      66.0      65.0
4               etest_p      72.10      71.0      60.0
5                 mba_p      62.28      62.0      56.7
6                salary  288655.41  265000.0  300000.0

In [83]:
import pandas as pd
univariate = {}
for column in quan:
    univariate[column] = {
        "Mean": round(dataset[column].mean()),
        "Median": round(dataset[column].median()),
        "Mode": round(dataset[column].mode()[0]) if not dataset[column].mode().empty else None
    }
univariate_df = pd.DataFrame(univariate)
univariate_df = univariate_df.reindex(["Mean", "Median", "Mode"])
print(univariate_df)

        sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p  salary
Mean      108     67     66        66       72     62  288655
Median    108     67     65        66       71     62  265000
Mode        1     62     63        65       60     57  300000

In [89]:
summary = f"""
 **Summary of Student Performance and Salary**

- The average SSC score is {univariate['ssc_p']['Mean']}%, while the median is {univariate['ssc_p']['Median']}%.  
  The most common (mode) SSC score is {univariate['ssc_p']['Mode']}%.  

- The average HSC score is {univariate['hsc_p']['Mean']}%, with a median of {univariate['hsc_p']['Median']}% 
  and mode of {univariate['hsc_p']['Mode']}%.  

- In Degree exams, students averaged {univariate['degree_p']['Mean']}% with a median of {univariate['degree_p']['Median']}%.  

- For MBA, the average score is {univariate['mba_p']['Mean']}%, the median is {univariate['mba_p']['Median']}%, 
  and the most frequent score is {univariate['mba_p']['Mode']}%.  

- The average e-test score is {univariate['etest_p']['Mean']}%.  

**Salary Insights**  
- The average salary offered to students is â‚¹{univariate['salary']['Mean']:,}.  
- The median salary is â‚¹{univariate['salary']['Median']:,}, while the most common salary is â‚¹{univariate['salary']['Mode']:,}.  

Overall, students perform consistently in SSC, HSC, and MBA with averages around 62â€“67%. Salary distribution shows 
a median close to â‚¹{univariate['salary']['Median']:,}, suggesting moderate variation in placements.
"""

print(summary)

 **Summary of Student Performance and Salary**

- The average SSC score is 67%, while the median is 67%.
  The most common (mode) SSC score is 62%.

- The average HSC score is 66%, with a median of 65%
  and mode of 63%.

- In Degree exams, students averaged 66% with a median of 66%.

- For MBA, the average score is 62%, the median is 62%,
  and the most frequent score is 57%.

- The average e-test score is 72%.

**Salary Insights**
- The average salary offered to students is â‚¹288,655.
- The median salary is â‚¹265,000, while the most common salary is â‚¹300,000.

Overall, students perform consistently in SSC, HSC, and MBA with averages around 62â€“67%. Salary distribution shows
a median close to â‚¹265,000, suggesting moderate variation in placements.