In [1]:
import pandas as pd
import numpy as np
dataset=pd.read_csv("preplacement.csv")
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.000000,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.000000,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.000000,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.000000,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,288655.405405,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [2]:
dataset.isnull().sum()

sl_no             0
ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
dtype: int64

In [3]:
dataset[dataset['gender']=='F']['salary']

6      288655.405405
12     288655.405405
13     218000.000000
15     200000.000000
17     288655.405405
           ...
197    260000.000000
198    288655.405405
204    210000.000000
208    288655.405405
213    204000.000000
Name: salary, Length: 76, dtype: float64

In [4]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male=dataset[dataset["gender"]=="M"]["salary"]
female=dataset[dataset["gender"]=="F"]["salary"]
t_stat, p_val = ttest_ind(male, female, equal_var=False)
print(f"T-statistics: {float(t_stat)}\n P-value: {float(p_val)}")

T-statistics: 2.0845001283005975
 P-value: 0.03840448838959534

In [5]:
from scipy.stats import ttest_rel
dataset=dataset.dropna()
male=dataset[dataset["gender"]=="M"]["ssc_p"]
male_1=dataset[dataset["gender"]=="M"]["hsc_p"]
t_stat, p_val = ttest_rel(male, male_1)
print(f"T-statistics: {float(t_stat)}\n P-value: {float(p_val)}")

T-statistics: 0.6852881050898076
 P-value: 0.49431164600731514

In [6]:
#SAME GROUP(MALE),DIFFRENT CONDITION(SSC_P,HSC_P)
#aSSIGNMNET SAME GROUP(COMMERCE STUDENT) CONDITION(mba_p,etest_p)
from scipy.stats import ttest_rel
dataset=dataset.dropna()
student=dataset[dataset["hsc_s"]=="Commerce"]["mba_p"]
student_1=dataset[dataset["hsc_s"]=="Commerce"]["etest_p"]
t_stat, p_val = ttest_rel(student,student_1)
print(f"T-statistics: {float(t_stat)}\n P-value: {float(p_val)}")

T-statistics: -7.868552092606871
 P-value: 2.462926468454984e-12

In [7]:
  #Hypothesis
#stement: test wehther ssc_p of male and hsc_p of male is same?
# Define Hypotheses

# H₀ (Null Hypothesis): For male students, the mean SSC% = mean HSC%.

# H₁ (Alternative Hypothesis): For male students, the mean SSC% ≠ mean HSC%.

# This is a Paired t-test problem because:

# Same group = Male students.

# Two related measurements = SSC% and HSC%.

In [8]:
from scipy.stats import ttest_rel

# Subset male students only
male_df = dataset[dataset["gender"] == "M"]

# Paired t-test: SSC% vs HSC% for male students
t_stat, p_val = ttest_rel(male_df["ssc_p"], male_df["hsc_p"])

print("T-statistic:", t_stat)
print("P-value:", p_val)

if p_val < 0.05:
    print("Reject H₀: Significant difference between SSC% and HSC% of male students.")
else:
    print("Fail to reject H₀: No significant difference between SSC% and HSC% of male students.")

T-statistic: 0.6852881050898076
P-value: 0.49431164600731514
Fail to reject H₀: No significant difference between SSC% and HSC% of male students.

In [36]:
# # Anavo
# Analysis of variance

In [9]:
dataset.columns

Index(['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary',
       'gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex',
       'specialisation', 'status'],
      dtype='object')

In [13]:
import scipy.stats as stats

f_stat, p_val = stats.f_oneway(dataset['ssc_p'], dataset['hsc_p'], dataset['etest_p'])

print("F-statistic:", f_stat)
print("P-value:", p_val)
if p_val < 0.05:
    print("Reject H₀: Significant difference between SSC% and HSC% of male students.")
else:
    print("Fail to reject H₀: No significant difference between SSC% and HSC% of male students.")

F-statistic: 14.920671205002026
P-value: 4.6358061310547903e-07
Reject H₀: Significant difference between SSC% and HSC% of male students.